
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../main.css" />
    <script src="../main.js"></script>
    <script src="../vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
    <title>currency converter</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Currency changer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Convert your <span class="text-danger">currencies</span> quickly</h1>
      <div id = "databinding" style = "">

          <span>Enter Amount:</span><input type = "number" v-model.number = "amount" placeholder = "Enter Amount" /><br/><br/>
          <span>Convert From:</span>
          <select v-model = "convertfrom" style = "width:300px;font-size:25px;">
              <option v-for = "(a, index) in currencyfrom"  v-bind:value = "a.name">{{a.desc}}</option>
          </select>
          <span>Convert To:</span>
          <select v-model = "convertto" style = "width:300px;font-size:25px;">
              <option v-for = "(a, index) in currencyfrom" v-bind:value = "a.name">{{a.desc}}</option>
          </select><br/><br/>
          <span> {{amount}} <span class="text-primary">{{convertfrom}}</span> equals {{finalamount}} <span class="text-primary">{{convertto}}</span></span>
      </div>
      <script>
              new Vue({
          el: '#databinding',
          data: {
            name:'',
            currencyfrom : [
              {name : "USD", desc:"US Dollar"},
              {name:"EUR", desc:"Euro"},
              {name:"INR", desc:"Indian Rupee"},
              {name:"NIG", desc:"Nigerian Naira"},
              {name:"PND", desc:"Pound Sterling"}
              ],
            convertfrom: "INR",
            convertto:"USD",
            amount :""
          },
          computed :{
            finalamount:function() {
              var to = this.convertto;
              var from = this.convertfrom;
              var final;
              switch(from) {
                case "INR":
                  if (to == "USD") {
                    final = this.amount * 0.016;
                  }
                  if (to == "EUR") {
                    final = this.amount * 0.013;
                  }
                  if (to == "INR") {
                    final = this.amount;
                  }
                  if (to == "PND") {
                    final = this.amount * 0.011;
                  }
                  if (to == "NIG") {
                    final = this.amount * 0.011;
                  }
                  break;
                  case "NIG":
                    if (to == "USD") {
                      final = this.amount * 0.0028;
                    }
                    if (to == "EUR") {
                      final = this.amount * 0.0024;
                    }
                    if (to == "INR") {
                      final = this.amount * 0.20;
                    }
                    if (to == "PND") {
                      final = this.amount * 0.0021;
                    }
                    if (to == "NIG") {
                      final = this.amount;
                    }
                    break;
                case "USD":
                  if (to == "INR") {
                    final = this.amount * 63.88;
                  }
                  if (to == "EUR") {
                    final = this.amount * 0.84;
                  }
                  if (to == "USD") {
                    final = this.amount;
                  }
                  if (to == "NIG") {
                    final = this.amount * 361.23;
                  }
                  if (to == "PND") {
                    final = this.amount * 0.0021;
                  }
                  break;
                case "EUR":
                  if (to == "INR") {
                    final = this.amount * 76.22;
                  }
                  if (to == "USD") {
                    final = this.amount * 1.19;
                  }
                  if (to == "EUR") {
                    final = this.amount;
                  }
                  if (to == "NIG") {
                    final = this.amount * 408.77;
                  }
                  if (to == "PND") {
                    final = this.amount * 0.88;
                  }
                  break;
                case "PND":
                  if (to == "INR") {
                    final = this.amount *91.9;
                  }
                  if (to == "USD") {
                    final = this.amount * 1.29;
                  }
                  if (to == "EUR") {
                    final = this.amount * 1.14;
                  }
                  if (to == "PND") {
                    final = this.amount;
                  }
                  if (to == "NIG") {
                    final = this.amount * 466.79;
                  }
                  break;
              }
              return final;
            }
          }
        });
          </script>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->

    <hr>

  </div> <!-- /container -->

</main>

<footer class="container">
  <p>&copy; <i>Laurence Ikenna</i></p>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.2/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script></body>
</html>
